.todo {
  display: flex;
  width: 100%;
}

.todo__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
  height: 9.7rem;
  background: black;
}

.add__todo>input {
  font-size: 1.1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}

.add__todo>button {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  font-size: 1.1rem;
  cursor: pointer;
  background: #222222;
  border: none;
  margin-left: 0.9rem;
  color: blue;
  outline: none;
  position: relative;
  color: gold;
  box-shadow: 0px 0px 7px #4c4c4c;
  text-shadow: 0px 0px 3px goldenrod;
}

.header {
  font-size: 1.6rem;
  margin: 1.5rem;
  color: white;
}

.add__todo>input::placeholder {
  color: blacks;
}

.todo__tasks {
  width: 55%;
}

.sub__todo {
  display: flex;
  width: 86%;
  justify-content: space-between;
  margin: auto;
  padding: 0.1rem;
}

.sub__todo>button {
  background: none;
  border: none;
}

.sub__todo>button>img {
  cursor: pointer;
  width: 12px;
  margin-top: 0.2rem;
}

.sub__todo>p {
  color: white;
  /* text-shadow: 0px 0px 5px goldenrod; */
}